div[id^='interactive'] .content-grid{
    width: 100%;
    margin-left:0;
}
.quarterly-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.iframe-cont{
    width: 100%; max-width: 100%; height: 408px;
}
/* iframe{
    width: 100%;
    border:none;
    height:60vh;
    min-height: 600px;
} */
iframe{
    background-color: #051c2c;
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.MainContent_mck-c-main-content__wrapper__2XBj6 .MainContent_mck-c-main-content__area-a__ExvXA > div:nth-child(2){
    background-image: none!important;
    min-height: initial!important;
}
.paperTurn-iframe{
    border: 0px; max-width: 100%; display: block; background-color: #051c2c
}

@media(max-width:767px){
    [id^=interactive-bespoke]{
        overflow: hidden;
        min-height: 90vh;
        height: 100%;
    }
    [id^=interactive-bespoke],iframe{
        min-height:90vh;
        height: 100%;
    }
}
@media all and (min-device-width: 768px) and (min-device-height: 1180px) and (orientation:portrait) {
    [id^=interactive-bespoke],iframe{
        min-height:90vh;
        height: 100%;
    }
    [id^=interactive-bespoke]{
        overflow: hidden;
        min-height: 90vh;
        height: 100%;
    }
  }
@media all and (min-device-width: 1180px) and (min-device-height: 768px) and (orientation:landscape) {
    iframe{
        min-height:100vh;
        height: 100%;
    }
    [id^=interactive-bespoke]{
        overflow: hidden;
        min-height: 90vh;
        height: 100%;
    }
}