div[id^='interactive'] .content-grid{
    width: 100%;
    margin-left:0;
}
.quarterly-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.iframe-cont{
    width: 100%; max-width: 100%; height: 408px;
}
/* iframe{
    width: 100%;
    border:none;
    height:60vh;
    min-height: 600px;
} */
iframe{
    background-color: #051c2c;
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.paper-link{
    padding:0 0 20px 0;
    text-align:center;
    margin:auto;
}

@media(max-width:767px){
    [id^=interactive-bespoke]{
        overflow: hidden;
        min-height: 90vh;
        height: 100%;
    }
    [id^=interactive-bespoke],iframe{
        min-height:90vh;
        height: 100%;
    }
}
@media all and (min-device-width: 768px) and (min-device-height: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2){
    [id^=interactive-bespoke],iframe{
        min-height:90vh;
        height: 100%;
    }
    [id^=interactive-bespoke]{
        overflow: hidden;
        min-height: 90vh;
        height: 100%;
    }
  }
@media all and (min-device-width: 1024px) and (min-device-height: 768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2){
    iframe{
        min-height:90vh;
        height: 100%;
    }
    [id^=interactive-bespoke]{
        overflow: hidden;
        min-height: 90vh;
        height: 100%;
    }
}