div[id^='interactive'] .content-grid{
    width: 100%;
    margin-left:0;
}
.quarterly-container{
    position: relative;
    padding-top: 25px;
    height: 80vh;
}
.iframe-cont{
    width: 100%; max-width: 100%; height: 408px;
}
/* iframe{
    width: 100%;
    border:none;
    height:60vh;
    min-height: 600px;
} */
iframe{
    background-color: #051c2c;
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-height:80vh;
}
.paper-link{
    font-size: 1.3rem;
    line-height: 2.1rem;
    margin: auto;
    padding: 0 15px 20px;
    text-align: center;
}

@media(max-width:767px){
    .mq-digital .content-grid{
        min-height: 100vh;
    }
    [id^=interactive-bespoke]{
        overflow: hidden;
        height: 100%;
        /* width: 95%;
        margin-left:-2.5%; */
    }
    .mck-o-edge-to-edge{
        width: 100%;
        max-width:100%;
        margin-left:0;
        margin-right: 0;
    }
    iframe{
        min-height: 100vh;
        height: 100%;
    }
   
}
@media all and (min-device-width: 768px) and (min-device-height: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2){
    .mq-digital .content-grid{
        min-height: 100vh;
    }
    [id^=interactive-bespoke]{
        overflow: hidden;
        height: 100%;
    }
    iframe{
        min-height: 100vh;
        height: 100%;
    }
  }
@media all and (min-device-width: 1024px) and (min-device-height: 768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2){
    .mq-digital .content-grid{
        min-height: 100vh;
    }
    [id^=interactive-bespoke]{
        overflow: hidden;
        height: 100%;
    }
    iframe{
        min-height: 100vh;
        height: 100%;
    }
}